@import './colors';

body {
  background: $background-color;
}
form {
  margin-top: 5%;
}
.container {
  max-width: 980px;
}

.game-message {
  font-size: 1.6em;
  margin: 5% 0;
  min-height: 100%;
}

.board {
  margin-bottom: 10%;
}
