@import './colors';

body {
  background: $background-color;
}

form {
  margin-top: 5%;
}

.container {
  max-width: 980px;
}

<<<<<<< HEAD
.game-message {
  font-size: 1.6em;
  margin: 5% 0;
  min-height: 100%;
=======
.cell {
  border: 3px solid #000;
  box-sizing: border-box;
<<<<<<< HEAD
  padding: 15% 0; // = width for a 1:1 aspect ratio
  text-align: center;
//  font-size: 300%;
>>>>>>> add player alert and tweak responsiveness
}

.no-padding {
  padding: 0;
}
.extra-padding {
  padding: 5%;
}
.margin-top {
  margin-top: 5%;
}
.board {
  margin-bottom: 10%;
=======
  padding: 0 0 30%; // = width for a 1:1 aspect ratio
}

.cell-content {
  font-size: 400%;
  height: 100%; // = 100% - 2*5% padding
  padding: 10%;
  position: absolute;
  text-align: center;
  width: 100%; // = 100% - 2*5% padding

>>>>>>> Add game reset button. UI fixes
}
